<% layout('layouts/boilerplate') %>
<div class="row mt-5">
	<h1 class="text-center">New Item</h1>
	<div class="col-xxl-6 col-md-10 col-12 offset-xxl-3 offset-md-1">
		<form action="/items" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input class="form-control" type="text" name="item[title]" id="title" required />
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please enter a title.</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="category">Category</label>
				<input class="form-control" type="text" name="item[category]" id="category" required />
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please enter a category.</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Item Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="item[price]" required />
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a price.</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea class="form-control" type="text" name="item[description]" id="description" required></textarea>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please enter some description.</div>
			</div>
			<div class="mb-3 custom-file">
				<label for="image" class="form-label">Upload Image</label>
				<input class="form-control" type="file" id="image" name="image" multiple required>
				<label for="image" class="custom-file-label"></label>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please update some images</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Add Item</button>
			</div>
		</form>
	</div>
</div>
